<nav class="navbar navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ml-2" href="/">Intellectualist</a>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Intellectualist</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form style="width: 500px; padding:20px" class="col">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="firstname" class="col-form-label">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="lastname" class="col-form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputEmail4" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputPassword4" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <button id="register" type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form style="width: 500px; padding:20px" class="col">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputEmail4" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputPassword4" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <button id="login" type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </li>                
            </ul>

        </div>
    </div>
</nav>
{{#if savedarticles}}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">The Intellectualist </h1>
        <h2 class="lead text-muted">News with an academia perspective</h2>
        <p>
            <a href="/scrape" class="btn btn-primary">Update Headlines</a>
        </p>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="card-deck">
        {{#each savedarticles}}
            <div class="col-4 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch mb-2">
                <div class="card">
                    {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
                    <h4 class="card-header"><i class="fa fa-newspaper-o fw" aria-hidden="true"></i>  {{this.title}}</h4>
                    <div class="card-body">
                        
                        {{#if this.byline}}
                        <p class="card-text">By {{this.byline}} </p>
                        {{/if}}
                        <p class="card-text"> {{this.summary}}</p>
                    </div>
                    <div class="card-footer .d-inline-flex">
                          <a class="btn btn-primary " href="{{this.link}}" target="_blank">Read Article</a> 
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div> 
{{ else }} 
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="jumbotron-heading">The Intellectualist </h1>
        <h2 class="lead text-muted">News with an academia perspective</h2>
        
        <h3>Oops! You haven't saved any articles yet.</h3>
        <p>Why don't you go find some articles worth saving and then come back!</p>
        <p>
            <a href="/" class="btn btn-primary">Save Some Headlines</a>
        </p>
    </div>
</div>
{{/if}}